apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgresql
  namespace: default
  labels:
    type: local
spec:
  storageClassName: local-storage
  capacity:
    storage: 25Gi
  volumeMode: Filesystem
  local:
    path: /cephfs/postgresql_data
  persistentVolumeReclaimPolicy: Retain
  accessModes:
  - ReadWriteOnce
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: nodetype
          operator: In
          values:
          - wn
