apiVersion: v1
kind: Service
metadata:
  name: postgresql
  namespace: default
  labels:
    app: postgresql
spec:
  selector:
    app: postgresql
  type: LoadBalancer
  ports:
  - port: 5432
    targetPort: 5432
